.toolbar {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background: #521751;
    height: 56px;
}

.toolbar__logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.toolbar__navigation {
    display: flex;
    height: 100%;
    padding: 0 1rem;
    align-items: center;
}

.toolbar_navigation-items a {
    color: white;
    text-decoration: none;
}